torch
deepspeed
tensorboardX
ete3
av
transformers
azureml-core
fairscale
addict
yapf
boto3
mpi4py
pyyaml
numpy
pandas
opencv-python
tqdm
easydict
ijson
packaging
wheel
pillow
progressbar
matplotlib
future
deprecated
torchvision
scipy
scikit-image
matplotlib